extends ./layouts/public_layout.pug

block content
    main.pt-5

            div.row
                h1.col-sm-10.offset-sm-1.text-center Welcome
            div.row
                div.col-sm-8.mx-auto.offset-col-sm-2
                    div.view.overlay.hm-white-slight.z-depth-2.d-flex.justify-content-center
                        img(src="/image/beedesignerstudiologo.png" class="img-fluid")
                    h5.font-bold.mt-5.mb-4.pb-3.text-center Design submission period is from 1st of November to 31 December

 
            div.row              
                h2.col-sm-10.offset-sm-1.text-center
                  i Text describe the competition details and competition rules
                    | are placed here.


    