.confirm-delete-title {
    color: #22404F;
}

.course-name-delete {
    color: #22404F;
}

.create-course-button{
    width: 150px;
}

.modal-title {
    color: #22404F;
}

#select-status {
    width: 70%;
}
