/* ============================ Navigation ========================= */


/* ============================ Page Content ========================= */


/* ============================ Announcements ========================= */

#notification-bell {
    position: absolute;
    top: 85px;
    right: 0;
}

.card {
    margin-bottom: 1px;
}


/* Important */

#announcementcontent.important {
    width: 90%;
    background-color: #F58E8E;
    border-radius: 5px;
    margin-left: 69px;
    margin-right: 69px;
    padding-top: 10px;
    padding-left: 59px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.important #announcementtitle {
    color: #CA0000;
    font-weight: bold;
    margin-bottom: 5px;
}

.important #announcementmessage {
    color: #CA0000;
    font-size: 14px;
}

#notification-bell #announcementcontent.important {
    background-color: #F58E8E;
    width: 200px;
    padding-left: 15px;
    margin-right: 10px;
}

#notification-bell .important #announcementtitle {
    color: #CA0000;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

#notification-bell .important #announcementmessage {
    color: #CA0000;
    font-size: 12px;
}


/* Maintenance  */

#announcementcontent.maintenance {
    width: 90%;
    background-color: #F3D353;
    border-radius: 5px;
    margin-left: 69px;
    margin-right: 69px;
    padding-top: 10px;
    padding-left: 59px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.maintenance #announcementtitle {
    color: #6D5B14;
    font-weight: bold;
    margin-bottom: 5px;
}

.maintenance #announcementmessage {
    color: #6D5B14;
    font-size: 14px;
}

#notification-bell #announcementcontent.maintenance {
    background-color: #F3D353;
    position: absolute;
    width: 200px;
    padding-left: 15px;
    margin-right: 10px;
}

#notification-bell .maintenance #announcementtitle {
    color: #6D5B14;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

#notification-bell .maintenance #announcementmessage {
    color: #6D5B14;
    font-size: 12px;
}


/* general  */

#announcementcontent.general {
    width: 90%;
    background-color: #D8F4F9;
    border-radius: 5px;
    margin-left: 69px;
    margin-right: 69px;
    padding-top: 10px;
    padding-left: 59px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.general #announcementtitle {
    color: #22404F;
    font-weight: bold;
    margin-bottom: 5px;
}

.general #announcementmessage {
    color: #22404F;
    font-size: 14px;
}

#notification-bell #announcementcontent.general {
    background-color: #D8F4F9;
    width: 200px;
    padding-left: 15px;
    margin-right: 10px;
}

#notification-bell .general #announcementtitle {
    color: #22404F;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

#notification-bell .general #announcementmessage {
    color: #22404F;
    font-size: 12px;
}


/* success  */

#announcementcontent.success {
    width: 90%;
    background-color: #BBF5B9;
    border-radius: 5px;
    margin-left: 69px;
    margin-right: 69px;
    padding-top: 10px;
    padding-left: 59px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.success #announcementtitle {
    color: #1B682F;
    font-weight: bold;
    margin-bottom: 5px;
}

.success #announcementmessage {
    color: #1B682F;
    font-size: 14px;
}

#notification-bell #announcementcontent.success {
    background-color: #BBF5B9;
    width: 200px;
    padding-left: 15px;
    margin-right: 10px;
}

#notification-bell .success #announcementtitle {
    color: #1B682F;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

#notification-bell .success #announcementmessage {
    color: #1B682F;
    font-size: 12px;
}


/* ================================= Users ============================================*/

#content-view {
    margin-top: 30px;
    margin-left: 69px;
    width: 90%;
    background: #D0D2D6;
    border-radius: 6px;
    padding: 0;
}

#content-header {
    border-radius: 6px 6px 0 0;
    background: #22404F;
    height: 50px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content-header p {
    color: white;
    font-weight: bold;
    font-size: 21px;
    margin-left: 59px;
}

#content-item {
    margin: .3em;
    margin-top: 22px;
    height: 500px;
    border-radius: 6px;
    padding: 0;
    margin-left: 59px;
}


/* =========================================== Admin ============================================*/

#content-view-admin {
    margin-top: 30px;
    margin-left: 69px;
    width: 90%;
    padding: 0;
}

#content-header-admin {}

#content-header-admin p {
    color: #22404F;
    font-weight: bold;
    font-size: 21px;
}

#content-item-admin {
    margin-top: 22px;
    height: 500px;
    border-radius: 6px;
    padding: 0;
}


/* ============================ Buttons ================================ */

.btn-primary {
    background-color: #22404F !important;
}

.btn-secondary {
    background-color: #B5D0DD !important;
}

caption {
    color: #22404F !important;
    font-size: 13px;
}


/* Admin Tables */

.line {
    width: 73%;
    border-bottom: 1px solid black;
    position: absolute;
}

#admin-table {
    margin-top: 10px;
}

#admin-table.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: #22404F;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.status-unassigned {
    color: #E6FF00;
}

.status-progress {
    color: #FF5050;
}

.status-complete {
    color: #00DD25;
}


/* Modals */

.modal-content {
    background-color: #B5D0DD;
    padding: 0 2% 2% 2%;
    margin-left: 10%;
    margin-top: 10%;
}

.modal-header {
    color: white;
    font-weight: bold;
}

.modal-section-title {
    color: #22404F;
}

.line2 {
    width: 97%;
    border-bottom: 1px solid #22404F;
    position: absolute;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* ================================================================= Dashboards =======================================================*/

.dashboard-item {
    height: 0%;
}

.list-group {
    height: calc(100% - 50px);
    border-radius: 0 0 6px 6px;
}

#list-group-report {
    height: calc(100% - 50px);
    border-radius: 0 0 6px 6px;
}

.list-group>.list-item:last-child {
    border-radius: 0 0 6px 6px;
}

.list-group>.list-item:not(:first-child) {
    border-top: 1px solid white
}

.list-item {
    min-height: 60px;
    color: #15343F;
    background: #D0D2D6;
    font-size: 1em;
    font-weight: bold;
    transition: .4s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-item:hover {
    color: white;
    background: #22404F;
}

#module-info-item {
    transition: 1s;
}

.report-item-wrap p {
    color: #15343F;
    text-align: left;
}

.report-item-wrap:hover .report-item-title {
    color: white
}

.report-item-wrap:hover .report-item-desc {
    color: white
}

.report-item-title {
    font-size: 1em;
}

.report-item-desc {
    font-size: .6em;
    font-weight: lighter;
}

.download-button {
    background-color: #15343F;
    color: #ffffff;
    height: 65%;
    border: none;
    border-radius: 3px;
    font-size: .7em;
}

#teaching-assignment-title {
    height: 30%
}

#teaching-assignment-list {
    height: 60px;
    margin: auto;
    position: relative;
    top: -7px;
    padding: 0;
    width: 70%;
    text-align: center;
}

.teaching-assignment-list-item {
    color: #15343F;
    font-size: .8em;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

#dashboard-profile {
    height: 100%;
    background-color: #BDC4D2;
}

#dashboard-profile-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px
}

#dashboard-info {
    text-align: center;
    padding: 15%;
    color: #15343F;
    font-weight: bold;
    font-size: 13px;
}

.dashboard-info-name,
.dashboard-info-designation,
.dashboard-info-email {
    margin-top: 2px;
}

#dashboard-button {
    margin-top: 5px;
    font-size: 11px;
}

.dashboard-info-slots {
    margin-top: 20px;
}

#dashboard-button-bottom {
    margin-top: 40px;
    font-size: 11px;
}

.dashboard-info-slots .table {
    background-color: #E9E9E9;
    margin-top: 5px;
}

.dashboard-info-slots .table th {
    margin-top: 10px;
    background-color: #969696;
    color: white;
}

#dashboard-module-maintenance {
    padding: 10%;
    background-color: #BDC4D2;
}

#dashboard-module-maintenance .title {
    color: #FF0000;
    font-weight: bold;
    font-size: 15px;
}

#dashboard-module-maintenance table {
    background-color: white;
    margin-top: 10px;
    font-size: 13px;
}

#dashboard-module-maintenance table th {
    background-color: #15343F;
    color: white;
}

#dashboard-module-maintenance .table {}