body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

p {
    /*  background: darkgreen; */
    font-size: .7em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 0;
}

#top-navbar {
    min-height: 80px;
    padding: 0;
    background: #22404F;
}

#navbar-card {
    padding: 0;
}



#top-navbar #profile-icon{
    border-radius: 50%;
    height: 50px;
    width: 50px
}

h2 {
    margin: 0;
    padding: 0;
    line-height: 80px;
    font-weight: bold;

}
#notification-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#notifications{
    width:40px;
    height:40px;
    margin: auto;
}
#navbar-title {
    text-align: center;
    color: white;
}
.nav-item-text{
  padding-left: 10px;
}
.navbar-brand {
    padding: 0;
    margin: 0
}

i {
    vertical-align: middle;
    color: white
}

.nav-link {
    color: white
}
.navbar-item-outer-wrap{
    width:100%;
    display:table-cell
}
.navbar-item-wrap{
    display:table-row
}

#dashboard-wrap {
    box-sizing: border-box;
    background: #15343F;
    padding: 0;
    margin: 0;
}

#main-list {
    width: 100%;
    transition: all .2s;
}

#main-list>li:first-child {
    border-top: 1px solid white;
}

#main-list>li.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
    width: 100%;
    padding-left: 1.5em;
    padding-right: 2em;
    border-color: white;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    transition: .2s;
    background: #15343F;
}
#main-list>li.nav-item-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
    width: 100%;
    border-color: white;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    transition: .2s;
    background: #15343F;
}

#main-list>li.active {
    /* background: rgb(63, 113, 130) */
}

#main-list>li:hover {
    background: rgb(133, 163, 189);

}
.icons{
    display:table-cell;
    height: 45px;
    width: 45px;
}
.navbar-title{
    padding-left:13px;
    overflow: hidden;
    max-width: 140px;
    width:140px;
    display:table-cell;
    font-size:1rem;
    vertical-align: middle;
}
#main-list h3{
    font-size:1rem;
}
.navbar-title-text{

}
#ul-collapse {
    transition: 2s;
}

#maintenence-system {
    transition: 2s;
}

#dashboard-view {
    margin-top: 3em;
    width: 90%;
}

#dashboard-view-wrap {
    background-color: #fff;
    padding: 0 50px 0 50px;
}
.dashboard-item {
    background-color: transparent;
    background-repeat: repeat;
    height:100%;
    border-radius: 6px;
    padding: 25px 15px 25px 15px;
    margin: 0;
}

#dashboard-item-report {
    margin: .3em;
    height: 500px;
    border-radius: 6px;
    padding: 0;

}

.dashboard-item-title {
    border-radius: 6px 6px 0 0;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    background: #15343F;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 10px 5px 10px;

}

#navbar-brand{
    background: #15343F;
    height: 100%;
    align-items: center;
}
#navbar-brand button{
    margin:0;
    width:auto;
}
#navbar-brand button:hover{
    color: #fff;
    background: #939393;
}
#navbar-brand .dropdown{
    background-color: #15343F;
    position: relative;
    z-index: 999;
    margin-top:10px;
    left: 0;
    width:100px;
    display: none;

}
#navbar-brand:hover .dropdown{
    display: block; /* Display the dropdown */
}


.accordion-button {
    margin-top: 0;
}
