#form-profile-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px
}

.form-group {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #22404F;
}


/* Change height for height of the grey container box */

#content-item {
    margin: .3em;
    margin-top: 22px;
    height: 100%;
    border-radius: 6px;
    padding: 0;
    margin-left: 59px;
}

#submit-button {
    margin-top: 40px;
    margin-right: 60px;
    width: 200px;
}

#update-profile {
    width: 150px;
}