<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Page Title -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Hours Maintenance System</title>

    <!-- Online scripts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Offline scripts -->
    
    <link rel="stylesheet" href="/css/staffhoursmaintenance.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/navbar.css">
    
    <script src="/script/log_out.js"></script>
    <script src="/script/append_navbar.js"></script>
    <script src="/script/global.js"></script>
    <script src="/script/staffhoursmaintenance.js"></script>
    <script src="/script/notifications.js"></script>



</head>

<body>
    <!-- Top Bar -->
    <div id="navbar-wrap" class="container-fluid">
       
    </div>

    <div class="container-fluid">

        <!-- Side Bar -->
        <div class="row flex-nowrap">
            <div id="dashboard-wrap" class="col-2">
                <div class="d-flex flex-column align-items-center align-items-sm-start text-white min-vh-100">
                    <ul id="main-list"
                        class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">

                    </ul>
                </div>
            </div>

            <!-- Page Content -->
            <div id="page-content" class="col-10 py-3">
                <div id="content-view-admin" class="container">

                    <!-- Content Header -->
                    <div id="content-header-admin" class="mb-4">
                        
                       
                        <p>Staff Hours Maintenance</p>
                        <br>
                        
                        <div class="form-group row mb-2">
                            <div class="col">
                                <button type="button" class="btn btn-primary float-end create-staff-type mb-2" data-bs-toggle="modal" data-bs-target="#create-staff-type-modal">Create Staff Type</button>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>

                    <!-- Content Item -->
                    <div id="content-item-admin" class="mt-2">

                        <!-- Module table -->
                        <table id="admin-table" class="table table-dark rounded-top">
                            
                            <thead>
                                <tr>
                                    <th scope="col" class="col-2">Staff Type</th>
                                    <th scope="col" class="col-4">Description</th>
                                    <th scope="col" class="col-2">Hours</th>
                                    <th scope="col" class="col-2">remarks</th>
                                    <th scope="col" class="col"></th>
                                    <th scope="col" class="col"></th>

                                </tr>
                            </thead>
                            <tbody class="staff-type-list">

                            </tbody>
                            <caption id="caption"></caption>
                        </table>

                        <!-- Create Staff Type Modal -->
                        <div class="modal fade" id="create-staff-type-modal" tabindex="-1" aria-labelledby="create-staff-type-modal" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <!-- Content header -->
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="create-staff-type">Create New Staff Type</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <!-- Content -->
                                    <div class="modal-body create-staff-type-modal">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Update Staff Type Modal -->
                        <div class="modal fade" id="update-staff-type-modal" tabindex="-1" aria-labelledby="update-staff-type-modal" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <!-- Content header -->
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="update-staff-type">Update Staff Type</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <!-- Content -->
                                    <div class="modal-body update-staff-type-modal">

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Delete Type Modal -->
                        <div class="modal fade" id="delete-staff-type-modal" tabindex="-1" aria-labelledby="delete-staff-type"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <h5 class="modal-title confirm-delete-title">Confirm Deletion</h5>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="staff-type-name-delete text-center"></h5>
                                    </div>
                                    <div class="modal-footer justify-content-center confirm-delete-button">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Success Modal -->
                        <div class="modal fade" id="submit-requests-success-deleted" tabindex="-1"
                            aria-labelledby="submit-requests-success-modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <h5 class="modal-title">Staff Type Deleted</h5>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-primary "
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="submit-requests-success-created" tabindex="-1"
                            aria-labelledby="submit-requests-success-modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <h5 class="modal-title">Staff Type Created</h5>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-primary "
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="modal fade" id="submit-requests-success-updated" tabindex="-1"
                            aria-labelledby="submit-requests-success-modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <h5 class="modal-title">Staff Type Updated</h5>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-primary "
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <!-- Error Modal -->
                        <div class="modal fade" id="submit-requests-error" tabindex="-1"
                            aria-labelledby="submit-requests-error-modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <h5 class="modal-title">An Error has occured</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p class="error-message text-center"></p>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-primary "
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>                  
                    </div>
                </div>

</body>

</html>