<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Page Title -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance System</title>

    <!-- Online scripts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <!-- Offline scripts -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/adminmaintenancesystem.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="/script/global.js"></script>
    <script src="/script/notifications.js"></script>
    <script src="/script/append_navbar.js"></script>
    <script src="/script/log_out.js"></script>
    <script src="/script/staffmaintenance.js"></script>

</head>


<body>
    <!-- Top Bar -->
    <div id="navbar-wrap" class="container-fluid">

    </div>

    <div class="container-fluid">

        <!-- Side Bar -->
        <div class="row flex-nowrap">
            <div id="dashboard-wrap" class="col-2">
                <div class="d-flex flex-column align-items-center align-items-sm-start text-white min-vh-100">
                    <ul id="main-list"
                        class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                    </ul>
                </div>
            </div>
            <!-- Page Content -->
            <div id="page-content" class="col-10 py-3">
                <!-- Modal -->
                <div class="modal fade" id="createStaffModal" tabindex="-1" aria-labelledby="createStaffModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header row">
                                <h3 class="col-3">Staff Information</h3>
                                <div class="col-8">Basic staff information is<span style="color:red">
                                        required</span></div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Staff Id:</label>
                                    <input class="staff-info-input" type="text" id="staff-id-input"
                                        name="staff-id-input"><br><br>
                                    <span class="required-indicator">*</span>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Staff Name:</label>
                                    <input class="staff-info-input" type="text" id="staff-name-input"
                                        name="staff-name-input"><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Staff Password:</label>
                                    <input class="staff-info-input" type="text" id="staff-password-input"
                                        name="staff-password-input"><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Staff Abbrv:</label>
                                    <input class="staff-info-input" type="text" id="staff-abbrv-input"
                                        name="staff-abbrv-input"><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Staff Type:</label>
                                    <select name="staff-type-input" id="staff-type-input" class="staff-info-input">

                                    </select><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Schedule Type:</label>
                                    <select name="staff-schedule-input" id="staff-schedule-input"
                                        class="staff-info-input">
                                        <option value="PET">PET</option>
                                        <option value="CET">CET</option>
                                        <option value="PETCET">PETCET</option>
                                    </select><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Designation:</label>
                                    <select name="staff-designation-input" id="staff-designation-input"
                                        class="staff-info-input">
                                    </select><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Email:</label>
                                    <input class="staff-info-input" type="text" id="staff-email-input"
                                        name="staff-email-input"><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Contact Number:</label>
                                    <input class="staff-info-input" type="number" id="staff-contact-input"
                                        name="staff-contact-input"><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Mobile Number:</label>
                                    <input class="staff-info-input" type="number" id="staff-mobile-input"
                                        name="staff-mobile-input"><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper-remark">
                                    <label class="staff-info-label" for="fname">Remarks:</label>
                                    <textarea id="staff-remarks-input" name="staff-remarks-input" rows="4"
                                        cols="50"></textarea>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Staff status (Active or
                                        Inactive):</label>
                                    <select name="staff-status-input" id="staff-status-input" class="staff-info-input">
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select><br><br>
                                </div>
                                <!-- <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Staff account role ):</label>
                                    <select name="staff-role-input" id="staff-role-input" class="staff-info-input">
                                        <option value="1">admin</option>
                                        <option value="2">lecturer</option>
                                        <option value="3">exam_rep</option>
                                        <option value="4">mod_coord</option>
                                        <option value="5">admin_support</option>
                                    </select><br><br>
                                </div> -->
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Staff account role:</label>
                                    <div class="multiselect">
                                        <div class="selectBox staff-info-input" onclick="showCheckboxes()">
                                            <select id="staff-role-input" class="staff-info-input">
                                                <option>Please check the roles for this user</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="role-checkboxes" style="position:absolute;z-index:999">
                                            <label for="one">
                                                <input type="checkbox" id="one" value="1" name="1">Admin</label>
                                            <label for="two">
                                                <input type="checkbox" id="two" value="2" name="2" />Lecturer</label>
                                            <label for="three">
                                                <input type="checkbox" id="three" value="3" name="3" />Exam Rep</label>
                                            <label for="four">
                                                <input type="checkbox" id="four" value="4" name="4" />Module
                                                Coordinator</label>
                                            <label for="five">
                                                <input type="checkbox" id="five" value="5" name="5" />Admin
                                                Support</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="create-submit" onclick="createStaff()" class="btn btn-primary">Create
                                    staff</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="editStaffModal" tabindex="-1" aria-labelledby="editStaffModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header row">
                                <h3 class="col-3">Staff Information</h3>
                                <div class="col-8">Basic staff information is<span style="color:red">
                                        required</span></div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Staff Id:</label>
                                    <input class="staff-info-input" type="text" id="staff-id-edit-input"
                                        name="staff-id-edit-input"><br><br>
                                    <span class="required-indicator">*</span>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Staff Name:</label>
                                    <input class="staff-info-input" type="text" id="staff-name-edit-input"
                                        name="staff-name-edit-input"><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Staff Password:</label>
                                    <button type="button" class="btn btn-danger reset-password" data-bs-toggle="modal"
                                        data-bs-target="#reset-password">Reset Password</button>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">.Staff Abbrv:</label>
                                    <input class="staff-info-input" type="text" id="staff-abbrv-edit-input"
                                        name="staff-abbrv-edit-input"><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">.Staff Type:</label>
                                    <select name="staff-type-edit-input" id="staff-type-edit-input"
                                        class="staff-info-input">

                                    </select><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Schedule Type:</label>
                                    <select name="staff-schedule-edit-input" id="staff-schedule-edit-input"
                                        class="staff-info-input">
                                        <option value="PET">PET</option>
                                        <option value="CET">CET</option>
                                        <option value="PETCET">PETCET</option>
                                    </select><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Designation:</label>
                                    <select name="staff-designation-edit-input" id="staff-designation-edit-input"
                                        class="staff-info-input">
                                    </select><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Email:</label>
                                    <input class="staff-info-input" type="text" id="staff-email-edit-input"
                                        name="staff-email-input"><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Contact Number:</label>
                                    <input class="staff-info-input" type="number" id="staff-contact-edit-input"
                                        name="staff-contact-edit-input"><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Mobile Number:</label>
                                    <input class="staff-info-input" type="number" id="staff-mobile-edit-input"
                                        name="staff-mobile-edit-input"><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper-remark">
                                    <label class="staff-info-label" for="fname">Remarks:</label>
                                    <textarea id="staff-remarks-edit-input" name="staff-remarks-edit-input" rows="4"
                                        cols="50">
                         </textarea>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Staff status (Active or
                                        Inactive):</label>
                                    <select name="staff-status-edit-input" id="staff-status-edit-input"
                                        class="staff-info-input">
                                        <option></option>
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select><br><br>
                                </div>
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">Staff account role:</label>
                                    <div class="multiselect">
                                        <div class="selectBox staff-info-input" onclick="showCheckboxesUpdate()">
                                            <select id="staff-role-input" class="staff-info-input">
                                                <option>Please check the roles for this user</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="role-checkboxes-edit" style="position:absolute;z-index:999">
                                            <label for="one-edit">
                                                <input type="checkbox" id="one-edit" value="1" name="1">Admin</label>
                                            <label for="two-edit">
                                                <input type="checkbox" id="two-edit" value="2" name="2" />Lecturer</label>
                                            <label for="three-edit">
                                                <input type="checkbox" id="three-edit" value="3" name="3" />Exam Rep</label>
                                            <label for="four-edit">
                                                <input type="checkbox" id="four-edit" value="4" name="4" />Module
                                                Coordinator</label>
                                            <label for="five-edit">
                                                <input type="checkbox" id="five-edit" value="5" name="5" />Admin
                                                Support</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button id="update-staff-submit" type="submit" onclick="updateStaffById(this)"
                                    class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="reset-password" tabindex="-1" aria-labelledby="reset-password"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header row">
                                <h3 class="col-3">Reset Password</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="staff-info-edit-wrapper">
                                    <label class="staff-info-label" for="fname">New Password:</label>
                                    <input class="staff-info-input" type="text" id="staff-reset-password"><br><br>
                                    <span class="required-indicator">*</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button id="reset-staff-password" type="submit" class="btn btn-primary"
                                        onclick="resetPassword(this)" data-bs-dismiss="modal">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="submit-requests-success-reset" tabindex="-1"
                    aria-labelledby="submit-requests-success-modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center">
                                <h5 class="modal-title">Password has been reset</h5>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-primary " data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Error Modal -->
                <div class="modal fade" id="submit-requests-error" tabindex="-1"
                    aria-labelledby="submit-requests-error-modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center">
                                <h5 class="modal-title">An Error has occured</h5>
                            </div>
                            <div class="modal-body">
                                <p class="error-message text-center"></p>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-primary " data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content-view-admin" class="container">
                    <div class="modal fade" id="custom-reconfirm" tabindex="-1" aria-labelledby="custom-reconfirm-modal"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                    <h5 id="custom-reconfirm-title">Message</h5>
                                </div>
                                <div class="row">

                                    <div class="col modal-footer justify-content-center">
                                        <button type="button" id="reconfirm-yes"
                                            class="btn btn-primary ">Delete</button>
                                    </div>
                                    <div class="col modal-footer justify-content-center">
                                        <button type="button" class="btn btn-primary "
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="custom-message-success" tabindex="-1"
                        aria-labelledby="custom-message-success-modal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                    <h5 id="custom-message-title">Submitted</h5>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-primary " data-bs-dismiss="modal"
                                        onclick="clearModal()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page Tabs -->
                    <div id="tabs">
                        <a class="button-link" href="/maintenance"><button id="btn-module" type="button"
                                class="btn btn-primary btn-sm active">Module</button></a>
                        <a class="button-link" href="/maintenance/staff-info"><button id="btn-staff" type="button"
                                class="btn btn-secondary btn-sm">Staff</button></a>
                    </div>

                    <!-- Content Header -->
                    <div id="content-header-admin">
                        <p>Staff Maintenance System</p>
                        <div class="form-group row">
                            <label for="select-section" class="col-sm-2 col-form-label">Select Section:</label>
                            <div class="col">
                                <!-- <div class="col-9" style="background:yellow"> -->
                                <select id="section-select" class="form-select" id="select-section">
                                    <img src="/SVG Icons/Chevron Down.svg" class="filter-icons"></img>
                                </select>
                                <!--   </div> -->
                                <!-- <div class="col-3" style="background:red">
                                      <img src="/SVG Icons/Chevron Down.svg" class="filter-icons"></img>
                                </div> -->
                            </div>
                            <label for="select-status" class="col-sm-2 col-form-label">Staff Status:</label>
                            <div class="col">
                                <select class="form-select" id="select-status" >
                                    <option value="all">All Status</option>
                                    <option value="Inactive" selected>Active</option>
                                    <option value="Active">Inactive</option>
                                </select>
                            </div>
                            <div class="col filter-button-wrap">
                                <button data-bs-toggle="modal" data-bs-target="#createStaffModal" class="filter-button">
                                    Create Staff</button>
                            </div>
                            <!-- <div class="col filter-button-wrap">
                                <button class="filter-button"> Module Preferences</button>
                            </div> -->
                        </div>
                        <div class="line"></div>
                    </div>

                    <!-- Content Item -->
                    <div id="content-item-admin">
                        <div class="col">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                </ul>
                            </nav>
                        </div>
                        <!-- Module table -->
                        <div class="table-responsive">
                            <table id="admin-table" class="table table-dark rounded-top">
                                <caption>Showing <span id="results-length">0</span> Results</caption>

                                <thead>
                                    <tr>
                                        <th scope="col" class="col-1">Staff ID</th>
                                        <th scope="col" class="col-1">Staff Name</th>
                                        <th scope="col" class="col-3">Email/Mobile</th>
                                        <th scope="col" class="col-1">Designation</th>
                                        <th scope="col" class="col-2">Section</th>
                                        <th scope="col" class="col-1">Status</th>
                                        <th scope="col" class="col-1"></th>
                                        <th scope="col" class="col-1"></th>
                                    </tr>
                                </thead>
                                <tbody id="staff-row-table">
                                </tbody>

                            </table>
                        </div>



                    </div>
                </div>
            </div>
        </div>

</body>

</html>