<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- Online scripts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Offline scripts -->
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/global.css">
</head>

<body>
    <div id="navbar-wrap" class="container-fluid">
 
    </div>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div id="dashboard-wrap" class="col-2">
                <div class="d-flex flex-column align-items-center align-items-sm-start text-white min-vh-100">
                    <ul id="main-list" class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item active">
                            <a href="admindashboard.html" class="nav-link align-middle px-0">
                                <img src="../public/SVG Icons/Dashboard.svg" class="icons"></img> <span class="nav-item-text ms-1 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="adminmaintenancesystem.html" class="nav-link px-0 align-middle">
                                <img src="../public/SVG Icons/Maintenance.svg" class="icons"></img> <span class="nav-item-text ms-1 d-none d-sm-inline">Maintenence System
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="adminteachingassignmentsystem.html" class="nav-link align-middle px-0">
                                <img src="../public/SVG Icons/Teaching Allocation System.svg" class="icons"></img> <span class="nav-item-text ms-1 d-none d-sm-inline">Teaching
                                    Assignment</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="adminexammatters.html" class="nav-link align-middle px-0">
                                <img src="../public/SVG Icons/Exam Matters.svg" class="icons"></img> <span class="nav-item-text ms-1 d-none d-sm-inline">Exam
                                    Matters</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="adminannouncements.html" class="nav-link align-middle px-0">
                                <img src="../public/SVG Icons/Announcements.svg" class="icons"></img> <span class="nav-item-text ms-1 d-none d-sm-inline">Announcements</span>
                            </a>
                        </li>

                        <!-- Page Link -->
                        <li class="nav-item">
                            <a href="reports.html" class="nav-link align-middle px-0">
                                <img src="../public/SVG Icons/Teaching Allocation System.svg" class="icons"></img> <span class="nav-item-text ms-1 d-none d-sm-inline">Download Reports</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div id="dashboard-view-wrap" class="col-10 py-3">
                <div id="dashboard-view" class="container">
                    <div class="row">
                        <div class="col-7">
                            <div class="d-flex justify-content-center">
                                <div class="col-6 dashboard-item">
                                    <div class="col dashboard-item-title">
                                        Maintenence System
                                    </div>
                                    <div class="list-group d-flex flex-column">
                                        <div id="module-info-item" class="list-item p-2 col"><a>Module Information</a>
                                        </div>

                                        <div id="staff-info-item" class="list-item p-2 col"><a>Staff Information</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="teaching-assignment" class="col-6 dashboard-item">
                                    <div class="col dashboard-item-title">
                                        Teaching Assignment
                                    </div>
                                    <div id="teaching-assignment-title" class="list-item p-2 col"><a>Teaching Assignment
                                            System</a>
                                    </div>
                                    <div id="teaching-assignment-list" class="p-2 col">
                                        <ul id="teaching-assignment-list">
                                            <li class="w-100">
                                                <a href="#" class=""> <span class="d-none d-sm-inline teaching-assignment-list-item">View
                                                        Teaching Schedule</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class=""> <span class="d-none d-sm-inline teaching-assignment-list-item">View
                                                        Module Preference</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="col-6 dashboard-item">
                                    <div class="col dashboard-item-title">
                                        Exam Matters
                                    </div>
                                    <div class="list-group d-flex flex-column">
                                        <div class="list-item p-2 col"><a>Exam Moderator & Verifier</a></div>

                                    </div>
                                </div>
                                <div class="col-6 dashboard-item">
                                    <div class="col dashboard-item-title">
                                        Announcements
                                    </div>
                                    <div class="list-group d-flex flex-column">
                                        <div class="list-item p-2 col"><a>View Announcements</a></div>

                                        <div class="list-item p-2 col"><a>Create New Accouncements</a></div>
                                        <div class="list-item p-2 col"><a>Manage Announcements</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>