<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Page Title -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Reports</title>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
    <!-- Online scripts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>






    <!-- Online scripts to Upload Files -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>

    <!-- Offline scripts -->
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/report.css" rel="stylesheet">

    <script src="/script/log_out.js"></script>
    <script src="/script/append_navbar.js"></script>
    <script src="/script/global.js"></script>
    <script src="/script/uploadreports.js"></script>
    <style>
        .quick-read {
            font-size: 15px !important;
            font-weight: normal !important;
            margin: 20px;
        }
    </style>


</head>

<body>
    <!-- Top Bar -->
    <div id="navbar-wrap" class="container-fluid">

    </div>

    <div class="container-fluid">

        <!-- Side Bar -->
        <div class="row flex-nowrap">
            <div id="dashboard-wrap" class="col-2">
                <div class="d-flex flex-column align-items-center align-items-sm-start text-white min-vh-100">
                    <ul id="main-list"
                        class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">

                    </ul>
                </div>
            </div>

            <!-- Page Content -->
            <div id="page-content" class="col-10 py-3">
                <div id="content-view-admin" class="container">

                    <!-- Content Header -->
                    <div id="content-header-admin">
                        <p>Upload Reports</p>
                        <div class="line"></div>
                        <p class="quick-read"> 
                            Quick Overview:
                            <br> This page is to facilitate the upload of course data for the various courses such as
                            DAAA, DISM, DCITP etc.
                            <br>
                            Please ensure that the stage is clearly labelled and capitalised ie. 1S1, 2A. 
                            <br>
                            Please also ensure that the sheet names are clearly labelled with only the year as it will be used to sort the data. 
                            <br>
                            The most recent year will contain Year 1 data and so on, with the 2nd most recent being Year 2.
                        </p>
                        <div class="line"></div>
                        <div class="d-flex p-2 bd-highlight custom-file">
                            <input class="custom-file-input" type="file" id="fileUpload" />
                            <input class="btn btn-outline-info btn-sm" type="button" id="upload" value="Prepare Data" />
                        </div>
                        <div class="line"></div>
                        <br>
                        <div class="row bd-highlight">
                            <div class="col-2 align-self-center">
                                <label for="select-section">Select Available Sheets</label>
                            </div>
                            <div class="col-4">
                                <select class="form-control form-select" id="select-section">
                                    <option>No Sheet Selected</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group d-flex flex-row-reverse p-2 bd-highlight">
                            <button type="button" class="btn btn-outline-success btn-sm" id="upload-file"
                                data-toggle="modal" data-target="#uploadModal" hidden="true">Upload Sheet Data</button>
                            <div class="col-3">
                                <select class="form-control form-select" id="select-course" hidden="true">
                                    <option>Select Course to Upload To</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select class="form-control form-select" id="select-semester" hidden="true">
                                    <option>Select Academic Semester</option>
                                </select>
                            </div>
                        </div>

                        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog"
                            aria-labelledby="uploadModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="uploadModalLabel">Confirm Your Submission</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p id="confirmation">

                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="uploadModalConfirmation"
                                            data-dismiss="modal">Confirm Submission</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="dvExcel" class="table table-striped rounded-top">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="col-sm">Excel Row</th>
                                    <th scope="col" class="col-sm">Stage</th>
                                    <th scope="col" class="col">Code</th>
                                    <th scope="col" class="col">Abbrev</th>
                                    <th scope="col" class="col">Name</th>
                                    <th scope="col" class="col">Module Type</th>
                                    <th scope="col" class="col-md-auto">Prerequisite (Pass/Taken)</th>
                                    <th scope="col" class="col">Type</th>
                                    <th scope="col" class="col-md-auto">L</th>
                                    <th scope="col" class="col">T</th>
                                    <th scope="col" class="col-md-auto">P</th>
                                    <th scope="col" class="col">DLT</th>
                                    <th scope="col" class="col-md-auto">Total</th>
                                    <th scope="col" class="col">CU</th>
                                    <th scope="col" class="col">Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

</body>

</html>